extends layout.jade

block content  
  section.two
    .content
      h1 Vil du jobbe i Norges mest spennende DevOps/ Mikrotjeneste-prosjekt?

      p.lead
        | Vi søker flinke utviklere og teknologer til Norges mest spennende DevOps/ Mikrotjeneste-prosjekt. Her vil du 
        | arbeide i et sterkt fagmiljø
        | som leverer kode til produksjon flere ganger daglig. I stedet for lange utgreinger om teknologier som
        | ikke gir et godt nok inntrykk 
        | av hvordan vi jobber, kan du se våre foredrag på JavaZone om temaet:

      ul#talks
        li: a(href="http://vimeo.com/105777594") Erfaringer fra 150 mikrotjenester - fordeler og ulemper - JavaZone 2014
        li: a(href="http://vimeo.com/74415652") Integrasjon som skalerer ved å gi utviklerne kontrollen - JavaZone 2013
        li: a(href="http://vimeo.com/105771545") Min hverdag som DevOps-utvikler - JavaZone 2014
        li: a(href="http://vimeo.com/105751258") Hvordan jeg fikk tredd Scala ned over hodet - JavaZone 2014
        li: a(href="http://vimeo.com/105888911") Fem år med Scala i produksjon - JavaZone 2014
        li: a(href="http://vimeo.com/49381224") Maven release med Ruby - JavaZone 2012
        li: a(href="http://vimeo.com/28759841") SOA uten ESB - JavaZone 2011

      p
        | Send oss en e-post på  <a href="mailto:hei@knowit.no">hei@knowit.no</a> og fortell om din erfaring og interessante prosjekter du har 
        | gjort. Så kan vi ta en kaffe
        | sammen der vi svarer på dine spørsmål og forteller deg mer om dine muligheter hos 
        | oss i Knowit.
      
      p
        | Jan Henrik Gundelsby - 
        | Fagsjef, Knowit Objectnet
      
      p
        | Les mer om Knowit på <a href="http://knowit.no/karriere">knowit.no/karriere</a>
